.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    height: 20em;
    width: 20em;
}

.north {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.west-central-east {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.south {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}